
.App {
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

label {
  margin-right: 1rem;
}

input {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
}

button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #E4A611 ;
  color: #fff;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
}

p {
  margin-top: 1rem;
  width: 50rem;
  word-break: break-all;
  word-wrap: break-word;

}

.error {
  color: red;
  margin-top: 0.5rem;
}